<h1>Burgers</h1>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burgers}}
    {{#unless this.devoured}}

    {{/unless}}
    {{/each}}
</ul>


<h2>Not-Devoured Burgers</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{!-- display the burger and the two button for the burgers --}}
    {{/if}}
    {{/each}}
</ul>


<h2>Add a Burger</h2>
<form id="create-form" action="/api/burgers" method="POST">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burgerName">
        <button type="submit" id="burgerSubmitBtn">submit</button>
    </div>
    <p>Click submit to add burger</p>
</form>

<script>
    // Make sure we wait to attach our handlers until the DOM is fully loaded.
    console.log("hello world")
    document.addEventListener('DOMContentLoaded', (event) => {
        if (event) {
            console.info('DOM loaded');
        }

        //create burgers 
        const createBurgerBtn = document.getElementById('burgerSubmitBtn')
        createBurgerBtn.addEventListener("click", function () {
            const newBurger = {
                name: document.getElementById('ca').nodeValue.trim(),
            }
            location.reload();
            console.log(newBurger)
        });
    });

    //update burgers to be devoured
    fetch(`/api/burgers/${id}`, {
        method: 'PUT',
        headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
        },

        // make sure to serialize the JSON body
        body: JSON.stringify(newBurger),
    }).then((response) => {
        // Check that the response is all good
        // Reload the page so the user can see the new quote
        if (response.ok) {
            console.log(`Added: ${newBurger}`);
            location.reload('/');
        } else {
            alert('something went wrong!');
        }
    });

</script>