<h2>Burgers</h2>

<ul>
    {{#each this.burgers}}
    {{#unless this.devoured}}
    <li>
        <div class="burgerClass">
            {{this.burger_name}}
            <button class="button" data-id="{{this.id}}">devour!</button>
        </div>
    </li>
    {{/unless}}
    {{/each}}
</ul>


<h2>Devoured Burgers</h2>
<ul>
    {{#each this.burgers}}
    {{#if devoured}}
    <li>{{this.burger_name}}</li>
    {{/if}}
    {{/each}}
</ul>


<h2>Add a Burger</h2>
{{!-- <form id=" create-form"> --}}

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burgerName">
        <button id="burgerSubmitBtn">submit</button>
    </div>
    <p>Click submit to add burger</p>
    {{!--
</form> --}}

/*
{{!--
<script>
    // Make sure we wait to attach our handlers until the DOM is fully loaded.
    document.addEventListener('DOMContentLoaded', (event) => {
        if (event) {
            console.info('DOM loaded');
        }

        const createDevourBtn = document.getElementById('button')
        createDevourBtn.addEventListener("click", function () {

            console.log("test")
            const id = document.getElementById('button').getAttribute("data-id")

            fetch(`/api/burgers/${id}`, {
                method: 'put',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(id)
            }).then((res) => {
                console.log("created"); if (res.ok) {
                    location.reload()
                }
            })
                .catch((err) => {
                    console.log(err)

                })


        })

        //create burgers 
        const createBurgerBtn = document.getElementById('burgerSubmitBtn')
        createBurgerBtn.addEventListener("click", function () {
            const newBurger = {
                name: document.getElementById('ca').value.trim(),
            }
            console.log(newBurger)
            fetch('/api/burgers', {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(newBurger)
            }).then((res) => {
                console.log("created"); if (res.ok) {
                    location.reload()
                }
            })
                .catch((err) => {
                    console.log(err)

                })

        });
    });

</script>*/ --}}