<h1>Burgers</h1>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burgers}}
    {{#unless this.devoured}}

    {{/unless}}
    {{/each}}
</ul>


<h2>Not-Devoured Burgers</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{!-- display the burger and the two button for the burgers --}}
    {{/if}}
    {{/each}}
</ul>


<h2>Add a Burger</h2>
<form id="create-form" action="/api/burgers" method="POST">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burgerName">
        <button type="submit" id="burgerSubmitBtn">submit</button>
    </div>
    <p>Click submit to add burger</p>
</form>